.container {
  width: 1024px;
  margin-top: 30px;
}

.top {
  display: flex;
  gap: 25px;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title{
  font-size: 25px;
}

.desc{
  font-size: 14px;
  text-align: justify;
  font-weight: 300;
}

.author {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  object-fit: cover;
  border-radius: 50%;
}

.username {
  font-size: 14px;
}

.imageContainer {
  flex: 1;
  height: 250px;
  position: relative;
}

.image {
  object-fit: cover;
}

.content {
  margin-top: 50px;
  font-size: 14px;
  font-weight: 300;
  color: #999;
  text-align: justify;
}