.container {
  width: 1024px;
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 52px;
  background: linear-gradient(to bottom, #194c33, #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn {
  width: max-content;
  background-color: #53c28b;
  border: none;
  padding: 20px;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
}

.img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

.desc {
  font-size: 16px;
  font-weight: 300;
}