.container {
    height: 100px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-weight: bold;
    font-size: 22px;
}

.links {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logout {
    color: whitesmoke;
    border: none;
    padding: 12px 17px;
    background-color: #53c28b;
    border-radius: 3px;
    cursor: pointer;
}