.container {
    margin-top: 50px;
    height: 50px;
    width: 1024px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {
    display: flex;
    align-items: center;
    gap: 10px;
}
  
.icon {
    opacity: 0.6;
    cursor: pointer;
}