.container {
    width: 1024px;
    display: flex;
    gap: 50px;
    margin-top: 30px;
}

.image{
    object-fit: cover;
}

.title {
    font-size: 25px;
    margin-bottom: 10px;
}

.desc {
    font-size: 14px;
    text-align: justify;
    color: #999;
}